body {
  margin: 0;
  text-align: center;
  font-family: 'Antic Slab', serif;
  line-height: 2;

}

.top-container {
  background-color: #CDFCF6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #FAF7F0;
}

.bottom-container {
  background-color: #BCCEF8;
}

.top-cloud {
  position: absolute;
  width: 15%;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  width: 10%;
  left: 200px;
  bottom: 300px;
}

h1 {
  font-size: 5.625rem;
  color: #98A8F8;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #98A8F8;
  margin-top: 0px;
  padding-top: 33px;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3 {
  color: #98A8F8;
  font-family: 'Montserrat', sans-serif;
  margin: 80px auto 30px auto;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  width: 4%;
  color: #EAF6F6;
}

a {
  color: #98A8F8;
  text-decoration: none;
}

.h2-top-heading {
  padding-top: 0;
}

.main-description {
  color: #40514E;
  margin: 50px auto 50px auto;
  width: 50%;
}

.profile-image {
  width: 15%;
  margin: 30px auto;
}

.skill-row {
  width: 50%;
  height: 30%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}

.skill-image-languages {
  width: 25%;
  float: left;
  padding-right: 30px;
}

.skill-image-professional {
  width: 25%;
  float: right;
  padding-left: 30px;
}

.skill-image-education {
  width: 25%;
  float: left;
  padding-right: 30px;
}

.skill-image-achievement {
  width: 25%;
  float: right;
  padding-left: 30px;
}

.bottom-description {
  color: #40514E;
  margin: 50px auto 120px auto;
  width: 40%;
}

.footer-link {
  display: inline-block;
  font-weight: bold;
  margin: 30px 30px;
}

.footer-certificate {
  color: #EAF6F6;
  margin: 0;
  padding-bottom: 30px;
  font-size: 0.75rem;

}

.developer-img {
  width: 20%;
}

.btn {
  background: #98A8F8;
  background-image: -webkit-linear-gradient(top, #98A8F8, #ace4fc);
  background-image: -moz-linear-gradient(top, #98A8F8, #ace4fc);
  background-image: -ms-linear-gradient(top, #98A8F8, #ace4fc);
  background-image: -o-linear-gradient(top, #98A8F8, #ace4fc);
  background-image: linear-gradient(to bottom, #98A8F8, #ace4fc);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  position: relative;
  bottom: 60px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #ace4fc, #bcf0f8);
  background-image: -moz-linear-gradient(top, #ace4fc, #bcf0f8);
  background-image: -ms-linear-gradient(top, #ace4fc, #bcf0f8);
  background-image: -o-linear-gradient(top, #ace4fc, #bcf0f8);
  background-image: linear-gradient(to bottom, #ace4fc, #bcf0f8);
  text-decoration: none;
}
